/* === Globals === */
* {
  font-family: 'Roboto', sans-serif;
}
body {
  padding: 0;
  margin: 0;
  font: 14px;
  background: rgb(212, 212, 212);
 
}
a {
  color: #00B7FF;
}
p {margin: 0;padding: 0;}

h1 {
  margin: 0;
  padding: 0;
}
hr {
  border: 1px solid rgb(220, 221, 223);
  background: rgb(220, 221, 223);
  margin-bottom: 1em;
}

.clear {
  clear: both;
}

.outline {
  border: 1px solid rgb(167, 167, 167);
  padding: 2em;
  display: block;
  width: 500px;
  margin: 0 auto;
}

/* === Demo Note === */
#demo-note {
  text-align: center;
  padding: .5em .25em;
}

/* === Header === */
header {
  background: white;
  padding: .5em;
  box-shadow: 1px 1px 4px rgb(158, 158, 158);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

header h1 {
  display: inline-block;
  font-size: 13pt;
}

header .nav-item {
  display: inline-block;
  margin: 0 0 0 .75em;
}

#open-new-modal-btn {
  border: 1px solid rgb(0, 199, 0);
  color: rgb(0, 199, 0);
  width: 9em;
  margin: 0 0 0 .75em;
  background: white;
}
#open-new-modal-btn:hover {
  background: rgb(0, 199, 0);
  color: white;
}

#search-container {
  display: inline-block;
  position: relative;
  width: 210px;
  margin: 0 0 0 1em;
  padding: 0;
  height: 16px;
}
#search-container input[type=text] {
  position: absolute;
  top: 0;
  left:0;
}
#search-container i {
  position: absolute;
  top: 3.5px;
  color: rgb(82, 82, 82);
  right:0;
}

/* === Input Forms === */

#notes {
  width: 100%;
  height: 100px;
}
.modal {
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.my-modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  border-radius: 2%;
  padding: 0 2em 2em 2em;
  border: 1px solid #888;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.hidden {display: none;}
.show {display: block;}

/* === New Modal Content === */
#new-modal-content {
  padding: 2em 3em 3em 3em;
  text-align: left;
}
#new-modal-content label {
  font-size: 12pt;
}
#new-modal-content input[type=text], input[type=date], textarea, input[type=file] {
  display: block;
  margin: .25em 0 .75em 0;
  width: 100%;
}

#new-modal-content .status-container label {
  margin: 0 .75em 0 .15em;
}
#new-modal-content .status-container input[type=checkbox] {
  margin: 0;
}

#new-modal-content .status-container {
  margin: .75em 0 .75em 0;
}

#new-modal-content #close-new-modal-btn {
  float: right;
  font-weight: bold;
  background: white;
  padding: 0 .25em;
  border: none;
  color: rgb(212, 0, 0);
  font-size: 20pt;
  width: 45px;
}
#new-modal-content #close-new-modal-btn:hover {
  background: rgb(212, 0, 0);
  color: white;
}
#new-modal-content #new-submit-btn {
  border: 1px solid blue;
  color: blue;
  width: 9em;
  display: block;
  margin: 2em auto;
  background: white;
}
#new-modal-content #new-submit-btn:hover {
  background: rgb(30, 30, 189);
  color: white;
}

/* === Edit Modal Content ===*/

#edit-modal-content {
  padding: 2em 3em 3em 3em;
  text-align: left;
}
#edit-modal-content label {
  font-size: 12pt;
}
#edit-modal-content input[type=text], input[type=date] {
  display: block;
  margin: .25em 0 .5em 0;
  width: 100%;
}

#edit-modal-content .status-container {
  margin: .5em 0 .25em 0;
}
#edit-modal-content .status-container label {
  margin: 0 .75em 0 .15em;
}
#edit-modal-content textarea {
  width: 100%;
}
#edit-modal-content #edit-submit-btn {
  border: 1px solid blue;
  color: blue;
  width: 9em;
  margin: 1em 0 0 0;
  background: white;
}
#edit-modal-content #edit-submit-btn:hover {
  background: rgb(30, 30, 189);
  color: white;
}

#edit-modal-content #delete-btn {
  border: 1px solid rgb(212, 0, 0);
  color: rgb(212, 0, 0);
  width: 9em;
  margin: 1em 0 0 0;
  background: white;
}
#edit-modal-content #delete-btn:hover {
  background: rgb(212, 0, 0);
  color: white;
}
#edit-modal-content #close-edit-modal-btn {
  float: right;
  font-weight: bold;
  background: white;
  padding: 0 .25em;
  border: none;
  color: rgb(212, 0, 0);
  font-size: 20pt;
}
#edit-modal-content #close-edit-modal-btn:hover {
  background: rgb(212, 0, 0);
  color: white;
}

/* === Applications === */

#flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: .5em .5em;
}

.applications {
  padding: 1em;
  margin: .75em 0;
  border-radius: 2%;
  box-shadow: 1px 1px 4px rgb(158, 158, 158);
  /* max-width: fit-content; */
  background: rgb(255, 255, 255);
}

#flex-container h3 {
  margin: .5em 0 .25em 0;
} 
#flex-container .company {
  margin: .1em 0 .25em 0;
  font-size: 13pt;
}
.status-container {
  margin: .5em 0 0 0;
}
.status-container label {
  padding: 0;
  margin: 0 .15em 0 -.15em;
}
.status-container #applied-status, #response-status, #interview-status {
  display: inline-block;
} 

#application-btn-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: .5em 0 0 0;
}
.delete-application-btn {
  border: 1px solid red;
  color: red;
  width: 7em;
  margin: 1em auto 0 auto;
  background: white
}
.delete-application-btn:hover {
  background: rgb(180, 0, 0);
  color: white;
}
.edit-application-btn {
  border: 1px solid blue;
  width: 9em;
  margin: 1em auto 0 auto;
  color: blue;
  background: white;
}
.edit-application-btn:hover {
  background: rgb(30, 30, 189);
  color: white;
}

.applications h2 {
  display: block;
  margin: 0;
  font-weight: 700;
  font-size: 16pt;
}
.applications .company {
  font-size: 14pt;
}
.applications .date {
  margin: 0;
  font-size: 12pt;
}
.applications .sub-text {
  font-size: 9pt;
  opacity: 80%;
}
.applications .files-container a {
  display: block;
  text-decoration: none;
}
.applications .files-container a:hover {
  text-decoration: underline;
}
.applications .links-container a {
  display: block;
  text-decoration: none;
}
.applications .links-container a:hover {
  text-decoration: underline;
}

.applications .notes-container p {
  overflow-y: scroll;
}